@media screen and (min-width: 1000px) {
  .container {
    position: relative;
  }

  .data, .weather {
    position: absolute;
    background: rgba(255, 255, 255, 0.85);
    padding: 1rem;
  }

  .data {
    top: 10%;
    left: 5%;
  }

  .weather {
    bottom: 10%;
    right: 5%;
  }

  .box-title {
    background: var(--primary);
    color: var(--white);
    padding: .5rem 1rem;
  }
}
